*.pyc
*.aps
*.cache
*.deploy
*.dll
*.dotCover
*.exe
*.exp
*.ilk
*.ipch
*.iobj
*.ipdb
*.lnt
*.log
*.lph
*.obj
*.opensdf
*.pch
*.pdb
*.sdf
*.suo
*.user
*.vloptions
/intermediate
/exe/*.cso
/exe/dictionaries/en_GB.aff
/exe/dictionaries/en_GB.dic
/.vs
/src/secrets.h
/diffractor.zip
*.lastcodeanalysissucceeded
